extends layout 

block content 
  h1= title 

  a.btn(href="/home/newpost") Create a post

  ul 
    for post in results.posts 
      li.post
        p.post-header= post.author.username
        p.post-content= post.content
        p.post-date= post.date_formatted