extends layout 

block content 
  h1= title 
  p There are currently #{results.postCount} posts

  a(href="/home/newpost") Create a post

  if (currentUser) 
    p Current user: #{currentUser.username}