doctype html
html
  head
    title Member's Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      .logo 
        p Member's Blog 
      nav 
        ul
          if (!currentUser) 
            li 
              a(href="/auth/signup") Sign Up 
            li 
              a(href="/auth/login") Log In
          else 
            li 
              a(href="/posts") Posts 
            li 
              a(href="/") Log Out 
    main
      block content
