extends layout 

block content 
  h1= title 

  form(action="" method="POST")
    .form-group 
      textarea#content(name="content", cols="40", rows="5" maxlength="200" placeholder="Write your post here...")
    button.std-btn(type="submit") Post

  a.link(href="/home") Cancel 