* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  list-style: none;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: block;
  width: auto;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  margin: 1rem 0;
  transition: all 200ms;
}

.btn:hover {
  background-color: black;
  color: white;
}
